.user-menu {
  flex-grow: 0;

  @apply pr-6;

  &__toggle {
    display: flex;
    align-items: center;
  }

  &__avatar {
    @apply mr-3;
  }

  &__titles {
    display: block;

    @apply mr-2;

    &__type {
      @apply text-gray-400 leading-5;
    }

    &__name {
      font-weight: 700;

      @apply text-lg leading-5;
    }
  }

  &__chevron {
    transition-property: color;
    transition-duration: 400ms;

    @apply text-gray-400 group-hover:text-gray-600 ease-sharp;
  }
}
